.testimonials {
    height: 35em;
    position: relative;
    // background: rgba(23, 87, 92, 1);
    background: url('./../../img/testiPana.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.testimonials:after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    background: rgba(23, 87, 92, 0.8);
}

.testimonials > .customer-quote {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: lightgrey;
    font-size: 1.7em;
    z-index: 1000;
}

// .testimonials > .customer-quote:after {
//     content: '';
//     position: absolute;
//     background: black;
//     height: 100%;
//     left: 0;
//     opacity: 0.4;
//     width: 100%;
//     z-index: 10000;
// }

.testimonials > .customer-quote > div {
    padding: 0em 1em;
}

.testimonials > .customer-quote > div > p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Alegreya Sans'!important;
}

.testimonials > .customer-quote > div > p > span {
    font-family: "HarabaraMais"!important;
}

.testimonials > .beautiful-img {
    height: 100%;
    z-index: 1000;
    position: relative;
    z-index: 1000;
}
