.testimonials-section {
    position: relative;
    background: url('./../../img/testiPana.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonials-section:after {
    content: '';
    height: 100%;
    width: 100%;
    background: orange;
    top: 0;
    left: 0;
    z-index: 10000;
    position: absolute;
}

.testimonials {
    min-height: 35em;
    position: relative;
    // background: url('./../../img/testiPana.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    background-attachment: fixed;
    z-index: 100;
}

.testimonials:after {
    content: '';
    height: 100%;
    width: 100%;
    background: orange;
    top: 0;
    z-index: 10000;
    position: absolute;
}
