.PortfolioHome {
    height: 100%;
    width: 100%;
    position: relative;
}

.PortfolioHome-Section {
    min-height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(23, 87, 92, 1);
}