@font-face {
    font-family: 'Arkhip';
    src: url('./fonts/Arkhip_font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarabaraMais';
    src: url('./fonts/HarabaraMais.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Angelina';
    src: url('./fonts/angelina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Azedo';
    src: url('./fonts/Azedo-Light.otf') format('opentype');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Sketch';
    src: url('./fonts/Sketch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    html{
        overflow: hidden;
        height: 100%;
    }
    body{
        overflow: auto;
        height: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arkhip;
}

body {
    background-color: rgba(23, 87, 92, 1);
}

.center-col {
    float: none;
    margin: 0 auto;
}
