@font-face {
    font-family: 'Arkhip';
    src: url('./fonts/arkhip_font-webfont.woff2') format('woff2'),
         url('./fonts/arkhip_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Azedo';
    src: url('./fonts/azedo-bold-webfont.woff2') format('woff2'),
         url('./fonts/azedo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arkhip;
}

body {
    background-color: rgba(23, 87, 92, 1);
}
