.footer {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #17575C;
}

.footer-header {
    width: 100%;
    margin: 0;
    color: lightgrey;
    min-height: 25em;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.footer-footer {
    height: 4em;
    width: 100%;
    background-color: #113F42;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.3em;
}

.resume {
    height: 15em;
    background: url('./../../img/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
    background-attachment: fixed;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.resume:after {
    position: absolute;

    opacity: 0.6;
    height: 100%;
    top: 0;
    width: 100%;
    box-shadow: inset 0px 0px 10px 0px black;
}

.footer-nav div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-Header-txt-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
